# CakePHP 2
/app/Config/database.php
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/build
/dist
/tags
*.mo

# CakePHP 2 lib
/lib

# Keep empty file
!empty

# Eclipse
.classpath
.project
.settings/*

# Intellij
.idea/
*.iml
*.iws

# Vagrant
.vagrant/

# Filesystem dust / Others
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
.*.sw[a-p]
*.dat
*.tmp
ehthumbs.db
Thumbs.db
